<!DOCTYPE html>
<html lang="en">
<head th:insert="~{header}">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body class="col col-6 mx-auto">
<div th:insert="~{navbar}"></div>
<form action="/developers/add" method="post">
    <label for="fullNameField">NAME:</label>
    <input class="form-control" name="fullName" type="text" id="fullNameField"><br>

    <label for="fullSurnameField">SURNAME:</label>
    <input class="form-control" name="fullSurname" type="text" id="fullSurnameField"><br>

    <label for="examField">Exam:</label>
    <input class="form-control" name="exam" type="number" id="examField"><br>

    <button class="btn btn-success" type="submit">ADD STUDENT</button>
</form>
</body>
</html>